リメイク版動画＃５

インポート文

In [2]:
import pandas as pd
import preprocessing
from pathlib import Path

DATA_DIR = Path("..","data")
COMMON_DATA_DIR = Path("..","..","common","src","data")
RAWDF_DIR = COMMON_DATA_DIR/"rawdf"

In [27]:
df = pd.read_csv(RAWDF_DIR/"horse_results.csv",sep="\t")

C:\Users\hisaf\AppData\Local\Temp\ipykernel_25084\1727951428.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(RAWDF_DIR/"horse_results.csv",sep="\t")

In [7]:
df.iloc[0:10,:]

,race_id,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,単勝,人気,馬体重,調教師,horse_id,jockey_id,trainer_id,owner_id
0,202306010104,1,4,7,サトノアレックス,セ6,58.0,菊沢一樹,1:55.3,NaN,15.9,7.0,500(+4),[東] 古賀慎明,2017104947,1161,1079,790031
1,202306010104,2,7,13,タイセイマーベル,牡5,58.0,Ｍ．デム,1:55.9,3.1/2,9.4,5.0,508(+20),[東] 池上昌和,2018100186,5212,1150,224007
2,202306010104,3,1,1,サトノギベオン,牡4,57.0,武豊,1:55.9,クビ,3.7,1.0,526(-2),[東] 戸田博文,2019100682,666,1054,790031
3,202306010104,4,8,16,ネオヒューズ,牡5,56.0,小林凌大,1:56.0,アタマ,47.8,9.0,522(+8),[東] 小西一男,2018102453,1177,405,502033
4,202306010104,5,7,14,ディープグラビティ,牡4,57.0,横山武史,1:56.0,アタマ,7.5,4.0,468(0),[東] 菊沢隆徳,2019104773,1170,1115,415800
5,202306010104,6,6,12,アウグスト,牡4,57.0,斎藤新,1:56.1,1/2,4.6,3.0,520(+10),[東] 斎藤誠,2019100284,1178,1086,353803
6,202306010104,7,2,3,ダンディジャック,牡4,54.0,西塚洸二,1:56.3,1.1/2,16.9,8.0,506(+18),[東] 佐藤吉勝,2019106097,1200,1035,738800
7,202306010104,8,8,15,アイファーグローブ,牡4,56.0,秋山稔樹,1:56.4,1/2,270.9,15.0,482(+12),[東] 蛯名利弘,2019101330,1181,1131,119007
8,202306010104,9,3,5,マサカウマザンマイ,牡5,56.0,原優介,1:56.5,1/2,139.6,13.0,496(+8),[東] 青木孝文,2018103330,1184,1156,638033
9,202306010104,10,2,4,リゼレインボー,牡4,57.0,石橋脩,1:56.9,2.1/2,54.8,10.0,486(+2),[東] 松山将樹,2019102676,1077,1100,661030

In [28]:
df["着順"]

0         9
1         9
2         5
3         5
4         4
         ..
198310    7
198311    1
198312    8
198313    1
198314    2
Name: 着順, Length: 198315, dtype: object

In [29]:
df["rank"] = pd.to_numeric(df["着順"], errors="coerce")

In [30]:
df["rank"].value_counts(dropna=False)

rank
1.0     22552
2.0     19862
3.0     18190
4.0     17148
5.0     16185
6.0     15406
7.0     14553
8.0     13548
9.0     12475
10.0    10884
11.0     9231
12.0     7740
13.0     5815
14.0     4937
15.0     3805
16.0     2738
NaN      2156
17.0      651
18.0      438
19.0        1
Name: count, dtype: int64

In [31]:
df.dropna(subset=["rank"], inplace=True)

In [12]:
df["umaban"] = df["馬番"].astype(int)

In [14]:
df["sex"] = df["性齢"].str[0]

ラベルエンコーディング：カテゴリ変数を整数にマッピングするデータ加工手法

In [15]:
sex_mapping = {"牡": 0, "牝": 1, "セ": 2}

In [16]:
df["sex"] = df["性齢"].str[0].map(sex_mapping)

In [19]:
df["age"] = df["性齢"].str[1:].astype(int)
df["age"]

0        6
1        5
2        4
3        5
4        4
        ..
47619    6
47620    4
47621    6
47622    5
47623    6
Name: age, Length: 47226, dtype: int64

In [25]:
df["馬体重(増減)"] = df["馬体重"]
df

,race_id,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,...,調教師,horse_id,jockey_id,trainer_id,owner_id,rank,umaban,sex,age,馬体重(増減)
0,202306010104,1,4,7,サトノアレックス,セ6,58.0,菊沢一樹,1:55.3,NaN,...,[東] 古賀慎明,2017104947,1161,1079,790031,1.0,7,2,6,500(+4)
1,202306010104,2,7,13,タイセイマーベル,牡5,58.0,Ｍ．デム,1:55.9,3.1/2,...,[東] 池上昌和,2018100186,5212,1150,224007,2.0,13,0,5,508(+20)
2,202306010104,3,1,1,サトノギベオン,牡4,57.0,武豊,1:55.9,クビ,...,[東] 戸田博文,2019100682,666,1054,790031,3.0,1,0,4,526(-2)
3,202306010104,4,8,16,ネオヒューズ,牡5,56.0,小林凌大,1:56.0,アタマ,...,[東] 小西一男,2018102453,1177,405,502033,4.0,16,0,5,522(+8)
4,202306010104,5,7,14,ディープグラビティ,牡4,57.0,横山武史,1:56.0,アタマ,...,[東] 菊沢隆徳,2019104773,1170,1115,415800,5.0,14,0,4,468(0)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47619,202309050912,12,6,11,エグレムニ,牡6,58.0,松若風馬,1:09.5,3/4,...,[西] 加用正,2017104873,1154,425,758005,12.0,11,0,6,512(+4)
47620,202309050912,13,8,15,ハギノメーテル,牝4,56.0,藤懸貴志,1:09.5,1/2,...,[西] 寺島良,2019100653,1138,1158,950006,13.0,15,1,4,498(+10)
47621,202309050912,14,4,7,アビエルト,牡6,58.0,和田竜二,1:09.6,1/2,...,[西] 杉山佳明,2017106240,1018,1178,258033,14.0,7,0,6,508(+2)
47622,202309050912,15,8,16,クムシラコ,牡5,58.0,荻野琢真,1:09.8,3/4,...,[東] 石毛善彦,2018103205,1112,428,629800,15.0,16,0,5,472(-4)
47623,202309050912,16,7,14,テイエムイダテン,牡6,58.0,菱田裕二,1:10.4,3.1/2,...,[西] 飯田雄三,2017102603,1144,1050,356002,16.0,14,0,6,490(+14)

In [7]:
df = pd.read_csv(RAWDF_DIR/"horse_results.csv",sep="\t")

C:\Users\hisaf\AppData\Local\Temp\ipykernel_23808\1727951428.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(RAWDF_DIR/"horse_results.csv",sep="\t")

リメイク版動画＃6 特徴量作成

In [3]:
results = pd.read_csv(DATA_DIR/"01_preprocessed"/"results.csv",sep="\t")

In [4]:
results

,race_id,horse_id,jockey_id,trainer_id,rank,sex,age,weight,weight_diff,tansho_odds,popularity,impost,wakuban,umaban
0,202301010101,2021100648,1095,1128,5,1,2,434,-10,23.9,5,55.0,1,1
1,202301010101,2021100159,1157,1186,6,0,2,454,-6,61.8,7,55.0,2,2
2,202301010101,2021100265,1197,1192,7,1,2,404,-2,18.8,4,53.0,3,3
3,202301010101,2021105553,5339,1160,4,1,2,450,2,16.6,3,55.0,4,4
4,202301010101,2021101429,1170,1026,1,0,2,452,-4,1.2,1,55.0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88358,202410030812,2020101594,1187,1135,3,0,4,446,0,35.0,10,56.0,6,11
88359,202410030812,2021104131,1018,1003,5,0,3,474,-2,4.2,2,55.0,7,12
88360,202410030812,2020103212,5212,1061,7,0,4,522,2,5.4,3,58.0,7,13
88361,202410030812,2020103550,1154,1121,10,0,4,484,6,28.1,8,58.0,8,14
88362,202410030812,2021101090,1204,1170,14,1,3,456,0,85.7,14,50.0,8,15

In [41]:
results.to_csv(DATA_DIR/"01_preprocessed"/"results.csv", sep="\t")

In [52]:
race_id = "202301010101"

In [59]:
results.index=results["race_id"]

In [ ]:
horse_results.index.name = "horse_id"

In [5]:
horse_results = pd.read_csv(DATA_DIR/"01_preprocessed"/"horse_results.csv",sep="\t")

In [6]:
horse_results

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_state,race_class,n_horses
0,2011106610,2024-04-29,9,0.0,4.7,3.0,0,1400,3.0,5.0,10.0
1,2011106610,2024-04-14,9,0.0,2.3,0.0,0,1300,1.0,NaN,11.0
2,2011106610,2024-03-27,5,6.0,1.1,0.0,0,1400,3.0,NaN,12.0
3,2011106610,2024-03-20,5,6.0,0.7,2.0,0,1300,2.0,NaN,11.0
4,2011106610,2024-03-06,4,9.0,1.4,1.0,0,1300,3.0,5.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
217543,2022110151,2024-10-19,8,0.0,0.9,1.0,1,1400,1.0,0.0,14.0
217544,2022110152,2024-11-16,6,0.0,1.7,1.0,0,1400,0.0,1.0,13.0
217545,2022110152,2024-10-27,4,110.0,1.3,0.0,0,1600,0.0,0.0,16.0
217546,2022110153,2024-11-16,1,550.0,0.0,0.0,0,1700,0.0,1.0,15.0
217547,2022110153,2024-10-27,2,290.0,0.3,0.0,0,1600,0.0,0.0,16.0

In [11]:
#horse_results.drop(horse_results.columns[0],axis=1)

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_state,race_class,n_horses
0,2011106610,2024-04-29,9,0.0,4.7,3.0,0,1400,3.0,5.0,10.0
1,2011106610,2024-04-14,9,0.0,2.3,0.0,0,1300,1.0,NaN,11.0
2,2011106610,2024-03-27,5,6.0,1.1,0.0,0,1400,3.0,NaN,12.0
3,2011106610,2024-03-20,5,6.0,0.7,2.0,0,1300,2.0,NaN,11.0
4,2011106610,2024-03-06,4,9.0,1.4,1.0,0,1300,3.0,5.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
196154,2021110161,2024-03-31,7,0.0,1.2,1.0,0,1400,0.0,5.0,11.0
196155,2021110161,2024-02-03,1,780.0,0.0,0.0,0,1400,0.0,2.0,8.0
196156,2021110161,2023-12-10,8,0.0,2.2,0.0,0,1800,0.0,2.0,16.0
196157,2021110161,2023-11-18,1,550.0,0.0,0.0,0,1600,2.0,1.0,15.0
196158,2021110161,2023-10-15,2,290.0,0.0,3.0,0,1600,3.0,0.0,16.0

In [46]:
results = results.drop(results.columns[[0]],axis=1)

In [47]:
results

,horse_id,jockey_id,trainer_id,rank,sex,age,weight,weight_diff,tansho_odds,popularity,impost,wakuban,umaban
0,2021100648,1095,1128,5,1,2,434,-10,23.9,5,55.0,1,1
1,2021100159,1157,1186,6,0,2,454,-6,61.8,7,55.0,2,2
2,2021100265,1197,1192,7,1,2,404,-2,18.8,4,53.0,3,3
3,2021105553,5339,1160,4,1,2,450,2,16.6,3,55.0,4,4
4,2021101429,1170,1026,1,0,2,452,-4,1.2,1,55.0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47221,2019102542,1208,1161,1,1,4,442,-2,3.5,1,53.0,6,8
47222,2020103754,1116,1104,6,0,3,468,0,15.2,8,55.0,7,9
47223,2020100400,1193,1092,4,1,3,458,6,23.1,9,50.0,7,10
47224,2020103663,732,1092,2,2,3,486,-6,5.0,3,55.0,8,11
47225,2017104623,1125,1170,5,2,6,420,-16,14.1,7,58.0,8,12

In [3]:
df = preprocessing.process_race_info()

In [4]:
df["weather"].unique()

array([ 0.,  1.,  3.,  2., nan])

In [5]:
df["ground_state"].unique()

array([0, 3, 1, 2])

In [ ]:
df["tmp"] = df["info1"].map(lambda x: eval(x)[0])