In [1]:
from pathlib import Path

import json
import pandas as pd

import preprocessing
from feature_engineering import FeatureCreator
%load_ext autoreload

In [14]:
%autoreload

In [3]:
#レース結果テーブルの前処理
results_preprocessed = preprocessing.process_results()

In [4]:
results_preprocessed

,race_id,horse_id,jockey_id,trainer_id,rank,sex,age,weight,weight_diff,tansho_odds,popularity,impost,wakuban,umaban
0,202301010101,2021100648,1095,1128,5,1,2,434,-10,23.9,5,55.0,1,1
1,202301010101,2021100159,1157,1186,6,0,2,454,-6,61.8,7,55.0,2,2
2,202301010101,2021100265,1197,1192,7,1,2,404,-2,18.8,4,53.0,3,3
3,202301010101,2021105553,5339,1160,4,1,2,450,2,16.6,3,55.0,4,4
4,202301010101,2021101429,1170,1026,1,0,2,452,-4,1.2,1,55.0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88358,202410030812,2020101594,1187,1135,3,0,4,446,0,35.0,10,56.0,6,11
88359,202410030812,2021104131,1018,1003,5,0,3,474,-2,4.2,2,55.0,7,12
88360,202410030812,2020103212,5212,1061,7,0,4,522,2,5.4,3,58.0,7,13
88361,202410030812,2020103550,1154,1121,10,0,4,484,6,28.1,8,58.0,8,14
88362,202410030812,2021101090,1204,1170,14,1,3,456,0,85.7,14,50.0,8,15

In [5]:
#重複チェック
results_preprocessed.duplicated(subset=["race_id","horse_id"]).sum()

np.int64(0)

In [14]:
#欠損チェック
results_preprocessed.isnull().sum()

race_id        0
horse_id       0
jockey_id      0
trainer_id     0
rank           0
sex            0
age            0
weight         0
weight_diff    0
tansho_odds    0
popularity     0
impost         0
wakuban        0
umaban         0
dtype: int64

In [6]:
#馬の過去成績テーブルの加工
horse_results_preprocessed = preprocessing.process_horse_results()

c:\Users\hisaf\KeibaAI-main\KeibaAI-training\v1_0_0\src\preprocessing.py:122: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_dir / save_filename, sep="\t")

In [7]:
horse_results_preprocessed

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_state,race_class,n_horses
0,2011106610,2024-04-29,9,0.0,4.7,3.0,0,1400,3.0,5.0,10.0
1,2011106610,2024-04-14,9,0.0,2.3,0.0,0,1300,1.0,NaN,11.0
2,2011106610,2024-03-27,5,6.0,1.1,0.0,0,1400,3.0,NaN,12.0
3,2011106610,2024-03-20,5,6.0,0.7,2.0,0,1300,2.0,NaN,11.0
4,2011106610,2024-03-06,4,9.0,1.4,1.0,0,1300,3.0,5.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
217543,2022110151,2024-10-19,8,0.0,0.9,1.0,1,1400,1.0,0.0,14.0
217544,2022110152,2024-11-16,6,0.0,1.7,1.0,0,1400,0.0,1.0,13.0
217545,2022110152,2024-10-27,4,110.0,1.3,0.0,0,1600,0.0,0.0,16.0
217546,2022110153,2024-11-16,1,550.0,0.0,0.0,0,1700,0.0,1.0,15.0
217547,2022110153,2024-10-27,2,290.0,0.3,0.0,0,1600,0.0,0.0,16.0

In [20]:
horse_id_list = [
    2020102562,
    2020104817
]
horse_results_preprocessed.query("horse_id in @horse_id_list")

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_state,race_class,n_horses
123985,2020102562,2024-10-19,11,0.0,1.6,0.0,0,1400,0.0,3.0,16.0
123986,2020102562,2024-08-18,15,0.0,4.2,0.0,0,1800,0.0,5.0,16.0
123987,2020102562,2024-05-19,13,0.0,1.8,1.0,0,1600,0.0,5.0,15.0
123988,2020102562,2024-05-04,12,0.0,1.6,0.0,0,1600,1.0,3.0,13.0
123989,2020102562,2024-01-28,1,800.0,0.0,1.0,0,1600,0.0,2.0,14.0
123990,2020102562,2023-12-23,9,0.0,0.9,0.0,0,1200,0.0,2.0,16.0
123991,2020102562,2023-10-08,6,0.0,0.5,1.0,0,1400,0.0,2.0,15.0
123992,2020102562,2023-09-18,3,200.0,0.4,0.0,0,1200,0.0,2.0,16.0
123993,2020102562,2023-08-27,4,120.0,0.3,0.0,0,1200,0.0,2.0,15.0
123994,2020102562,2023-05-06,1,550.0,0.0,0.0,0,1400,0.0,1.0,16.0
123995,2020102562,2023-04-15,2,220.0,0.2,3.0,0,1200,1.0,1.0,15.0
123996,2020102562,2023-02-26,3,140.0,0.3,0.0,0,1200,0.0,1.0,16.0
123997,2020102562,2023-01-28,2,220.0,0.7,0.0,0,1400,0.0,1.0,16.0
123998,2020102562,2023-01-05,3,140.0,0.3,0.0,0,1200,0.0,1.0,16.0
123999,2020102562,2022-10-16,9,0.0,1.0,1.0,1,1400,0.0,0.0,18.0
145009,2020104817,2024-05-22,6,0.0,2.8,1.0,0,1400,0.0,NaN,10.0
145010,2020104817,2024-04-29,9,0.0,3.4,1.0,0,1400,0.0,NaN,10.0
145011,2020104817,2024-04-17,5,2.0,2.1,0.0,0,1400,1.0,NaN,10.0
145012,2020104817,2024-04-01,6,0.0,2.6,0.0,0,1400,0.0,NaN,8.0
145013,2020104817,2024-03-20,7,0.0,2.3,1.0,0,1400,0.0,NaN,8.0
145014,2020104817,2024-03-06,2,14.0,0.2,1.0,0,1400,2.0,NaN,6.0
145015,2020104817,2024-02-19,7,0.0,1.5,3.0,0,1400,3.0,NaN,9.0
145016,2020104817,2024-02-05,6,0.0,1.8,3.0,0,1400,1.0,NaN,7.0
145017,2020104817,2024-01-22,6,0.0,0.7,0.0,0,1400,2.0,NaN,9.0
145018,2020104817,2024-01-10,2,14.0,1.0,1.0,0,1400,0.0,NaN,8.0
145019,2020104817,2023-12-27,2,14.0,0.6,0.0,0,1400,0.0,NaN,7.0
145020,2020104817,2023-12-06,8,0.0,3.8,0.0,0,1400,0.0,NaN,8.0
145021,2020104817,2023-11-22,4,4.0,1.6,0.0,0,1400,0.0,NaN,8.0
145022,2020104817,2023-11-07,5,2.0,3.3,0.0,0,1400,2.0,NaN,7.0
145023,2020104817,2023-10-23,8,0.0,4.4,0.0,0,1400,0.0,NaN,9.0
145024,2020104817,2023-10-10,4,4.0,0.8,0.0,0,1400,1.0,NaN,8.0
145025,2020104817,2023-09-26,6,0.0,2.6,1.0,0,1400,0.0,NaN,7.0
145026,2020104817,2023-09-13,4,4.5,2.7,0.0,0,1400,0.0,NaN,10.0
145027,2020104817,2023-08-16,5,2.2,3.0,1.0,0,1400,2.0,NaN,8.0
145028,2020104817,2023-08-02,3,9.0,2.2,0.0,0,1400,0.0,NaN,10.0
145029,2020104817,2023-06-21,3,9.0,1.6,1.0,0,1400,0.0,NaN,8.0
145030,2020104817,2023-05-31,4,12.0,2.5,1.0,0,1400,2.0,NaN,7.0
145031,2020104817,2023-05-13,15,0.0,2.2,3.0,0,1300,1.0,1.0,16.0
145032,2020104817,2023-03-26,8,0.0,1.2,3.0,0,1200,3.0,1.0,16.0
145033,2020104817,2023-02-04,11,0.0,1.5,0.0,0,1400,0.0,1.0,16.0
145034,2020104817,2023-01-05,6,0.0,1.4,0.0,0,1200,0.0,1.0,16.0
145035,2020104817,2022-11-12,10,0.0,2.2,0.0,0,1600,0.0,1.0,16.0
145036,2020104817,2022-11-06,16,0.0,4.1,0.0,1,1800,0.0,1.0,16.0
145037,2020104817,2022-08-06,15,0.0,2.0,0.0,1,1600,0.0,0.0,18.0

In [8]:
race_info_preprocessed = preprocessing.process_race_info()

In [10]:
race_info_preprocessed

,race_id,date,race_type,around,course_len,weather,ground_state,race_class,place
0,202301010101,2023-07-22,1,0.0,1200,0.0,0,1,1
1,202301010102,2023-07-22,0,0.0,1000,0.0,0,1,1
2,202301010103,2023-07-22,0,0.0,1700,0.0,0,1,1
3,202301010104,2023-07-22,1,0.0,1500,0.0,0,1,1
4,202301010105,2023-07-22,0,0.0,1700,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...
6569,202410030808,2024-07-21,0,0.0,1000,0.0,1,2,10
6570,202410030809,2024-07-21,1,0.0,2000,1.0,0,5,10
6571,202410030810,2024-07-21,1,0.0,1200,1.0,0,3,10
6572,202410030811,2024-07-21,1,0.0,1800,0.0,0,5,10
6573,202410030812,2024-07-21,0,0.0,1700,0.0,1,2,10

In [9]:
race_info_preprocessed.isnull().sum()

race_id           0
date              0
race_type         0
around          290
course_len       57
weather           5
ground_state      0
race_class        0
place             0
dtype: int64

In [11]:
fc = FeatureCreator()
features = fc.create_features()

In [12]:
features

,race_id,horse_id,date,jockey_id,trainer_id,rank,sex,age,weight,weight_diff,...,rank_1race,prize_1race,rank_3races,prize_3races,rank_5races,prize_5races,rank_10races,prize_10races,rank_1000races,prize_1000races
0,202301010101,2021100648,2023-07-22,1095,1128,5,1,2,434,-10,...,4.0,83.0,4.500000,77.500000,4.5,77.50,4.500000,77.500000,4.500000,77.500000
1,202301010101,2021100159,2023-07-22,1157,1186,6,0,2,454,-6,...,8.0,0.0,8.000000,0.000000,8.0,0.00,8.000000,0.000000,8.000000,0.000000
2,202301010101,2021100265,2023-07-22,1197,1192,7,1,2,404,-2,...,5.0,72.0,5.000000,72.000000,5.0,72.00,5.000000,72.000000,5.000000,72.000000
3,202301010101,2021105553,2023-07-22,5339,1160,4,1,2,450,2,...,4.0,110.0,4.000000,110.000000,4.0,110.00,4.000000,110.000000,4.000000,110.000000
4,202301010101,2021101429,2023-07-22,1170,1026,1,0,2,452,-4,...,2.0,290.0,2.000000,290.000000,2.0,290.00,2.000000,290.000000,2.000000,290.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88358,202410030812,2020101594,2024-07-21,1187,1135,3,0,4,446,0,...,6.0,0.0,4.333333,106.666667,3.0,104.00,2.600000,133.300000,3.666667,114.266667
88359,202410030812,2021104131,2024-07-21,1018,1003,5,0,3,474,-2,...,4.0,120.0,4.666667,106.666667,4.0,183.24,3.285714,250.885714,3.285714,250.885714
88360,202410030812,2020103212,2024-07-21,5212,1061,7,0,4,522,2,...,1.0,800.0,4.333333,373.333333,4.0,284.00,3.833333,260.000000,3.833333,260.000000
88361,202410030812,2020103550,2024-07-21,1154,1121,10,0,4,484,6,...,8.0,0.0,5.000000,106.666667,4.2,144.00,4.300000,140.000000,5.062500,126.875000
88362,202410030812,2021101090,2024-07-21,1204,1170,14,1,3,456,0,...,12.0,0.0,8.666667,0.000000,5.8,154.00,5.500000,146.666667,5.500000,146.666667

In [13]:
features.duplicated(subset=["race_id", "horse_id"]).sum()

np.int64(0)

In [1]:
features.columns()

NameError: name 'features' is not defined